.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    margin: 15rem auto 0rem;
    transform: scale(1);

}

.outerCircle {
    position: absolute;
    background: conic-gradient(#5574b7 0%,
            #4c79a4 40%,
            #fff 40%,
            #fff 60%,
            #33476d 60%,
            #2a315b 100%);
    height: 320px;
    width: 320px;
    top: -10px;
    left: -10px;
    z-index: -2;
    border-radius: 50%;
}

.innerCircle {
    position: absolute;
    background: rgb(18, 28, 43);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: -1;
}

#text {
    color: #fff;
    font-size: 1.5rem;
}

.container.grow {
    animation: growCircle 3s linear forwards;
}

.container.shrink {
    animation: shrinkCircle 3s linear forwards;
}

.cursor-container {
    position: absolute;
    top: -15%;
    width: 25px;
    height: 190px;
    border: 1px solid magenta;
}

.cursor {
    position: absolute;
    width: 100%;
    height: 25px;
    border-radius: 50%;
    background: white;
}